<section>
  <h1 class="section-title">Recommended By Mohammad's Virtual Showroom</h1>

  <swiper-container slides-per-view="auto" free-mode="true" resistance-ratio="0">
    <swiper-slide>
      <mat-card appearance="outlined">
        <img mat-card-image src="images/car-one.jpg" alt="Photo of a Shiba Inu">
        <div class="ribbon">
          <span>Turbo charged - AWD</span>
        </div>
        <mat-card-content>
          <div class="header">
            <h1 class="title">2024 Acura</h1>
            <h3 class="subtitle">A-SpecTLX</h3>
            <span><strong>10</strong>Km.</span>
          </div>
          <div class="body">
            <button class="car-num-btn" type="button" mat-flat-button matTooltip="copy" color="light" (click)="openSnackBar('VIN')">
              VIN: 19UUB6F55RA800366
            </button>
            <button class="car-num-btn" type="button" mat-flat-button matTooltip="copy" color="light" (click)="openSnackBar('Stock')">
              Stock No: P800366
            </button>
          </div>
          <div class="footer">
            <span><strong>$57,569</strong>+GST</span>
          </div>
        </mat-card-content>
      </mat-card>
    </swiper-slide>
    <swiper-slide>
      <mat-card appearance="outlined">
        <img mat-card-image src="images/car-two.jpg" alt="Photo of a Shiba Inu">
        <div class="ribbon">
          <span>Turbo charged - AWD</span>
        </div>
        <mat-card-content>
          <div class="header">
            <h1 class="title">2024 Acura</h1>
            <h3 class="subtitle">A-SpecTLX</h3>
            <span><strong>10</strong>Km.</span>
          </div>
          <div class="body">
            <button class="car-num-btn" type="button" mat-flat-button matTooltip="copy" color="light" (click)="openSnackBar('VIN')">
              VIN: 19UUB6F55RA800366
            </button>
            <button class="car-num-btn" type="button" mat-flat-button matTooltip="copy" color="light" (click)="openSnackBar('Stock')">
              Stock No: P800366
            </button>
          </div>
          <div class="footer">
            <span><strong>$57,569</strong>+GST</span>
          </div>
        </mat-card-content>
      </mat-card>
    </swiper-slide>
    <swiper-slide>
      <mat-card appearance="outlined">
        <img mat-card-image src="images/car-one.jpg" alt="Photo of a Shiba Inu">
        <div class="ribbon">
          <span>Turbo charged - AWD</span>
        </div>
        <mat-card-content>
          <div class="header">
            <h1 class="title">2024 Acura</h1>
            <h3 class="subtitle">A-SpecTLX</h3>
            <span><strong>10</strong>Km.</span>
          </div>
          <div class="body">
            <button class="car-num-btn" type="button" mat-flat-button matTooltip="copy" color="light" (click)="openSnackBar('VIN')">
              VIN: 19UUB6F55RA800366
            </button>
            <button class="car-num-btn" type="button" mat-flat-button matTooltip="copy" color="light" (click)="openSnackBar('Stock')">
              Stock No: P800366
            </button>
          </div>
          <div class="footer">
            <span><strong>$57,569</strong>+GST</span>
          </div>
        </mat-card-content>
      </mat-card>
    </swiper-slide>
    <swiper-slide>
      <mat-card appearance="outlined">
        <img mat-card-image src="images/car-two.jpg" alt="Photo of a Shiba Inu">
        <div class="ribbon">
          <span>Turbo charged - AWD</span>
        </div>
        <mat-card-content>
          <div class="header">
            <h1 class="title">2024 Acura</h1>
            <h3 class="subtitle">A-SpecTLX</h3>
            <span><strong>10</strong>Km.</span>
          </div>
          <div class="body">
            <button class="car-num-btn" type="button" mat-flat-button matTooltip="copy" color="light" (click)="openSnackBar('VIN')">
              VIN: 19UUB6F55RA800366
            </button>
            <button class="car-num-btn" type="button" mat-flat-button matTooltip="copy" color="light" (click)="openSnackBar('Stock')">
              Stock No: P800366
            </button>
          </div>
          <div class="footer">
            <span><strong>$57,569</strong>+GST</span>
          </div>
        </mat-card-content>
      </mat-card>
    </swiper-slide>
    <swiper-slide>
      <mat-card appearance="outlined">
        <img mat-card-image src="images/car-one.jpg" alt="Photo of a Shiba Inu">
        <div class="ribbon">
          <span>Turbo charged - AWD</span>
        </div>
        <mat-card-content>
          <div class="header">
            <h1 class="title">2024 Acura</h1>
            <h3 class="subtitle">A-SpecTLX</h3>
            <span><strong>10</strong>Km.</span>
          </div>
          <div class="body">
            <button class="car-num-btn" type="button" mat-flat-button matTooltip="copy" color="light" (click)="openSnackBar('VIN')">
              VIN: 19UUB6F55RA800366
            </button>
            <button class="car-num-btn" type="button" mat-flat-button matTooltip="copy" color="light" (click)="openSnackBar('Stock')">
              Stock No: P800366
            </button>
          </div>
          <div class="footer">
            <span><strong>$57,569</strong>+GST</span>
          </div>
        </mat-card-content>
      </mat-card>
    </swiper-slide>
    <swiper-slide>
      <mat-card appearance="outlined">
        <img mat-card-image src="images/car-two.jpg" alt="Photo of a Shiba Inu">
        <div class="ribbon">
          <span>Turbo charged - AWD</span>
        </div>
        <mat-card-content>
          <div class="header">
            <h1 class="title">2024 Acura</h1>
            <h3 class="subtitle">A-SpecTLX</h3>
            <span><strong>10</strong>Km.</span>
          </div>
          <div class="body">
            <button class="car-num-btn" type="button" mat-flat-button matTooltip="copy" color="light" (click)="openSnackBar('VIN')">
              VIN: 19UUB6F55RA800366
            </button>
            <button class="car-num-btn" type="button" mat-flat-button matTooltip="copy" color="light" (click)="openSnackBar('Stock')">
              Stock No: P800366
            </button>
          </div>
          <div class="footer">
            <span><strong>$57,569</strong>+GST</span>
          </div>
        </mat-card-content>
      </mat-card>
    </swiper-slide>
    <swiper-slide>
      <mat-card appearance="outlined">
        <img mat-card-image src="images/car-one.jpg" alt="Photo of a Shiba Inu">
        <div class="ribbon">
          <span>Turbo charged - AWD</span>
        </div>
        <mat-card-content>
          <div class="header">
            <h1 class="title">2024 Acura</h1>
            <h3 class="subtitle">A-SpecTLX</h3>
            <span><strong>10</strong>Km.</span>
          </div>
          <div class="body">
            <button class="car-num-btn" type="button" mat-flat-button matTooltip="copy" color="light" (click)="openSnackBar('VIN')">
              VIN: 19UUB6F55RA800366
            </button>
            <button class="car-num-btn" type="button" mat-flat-button matTooltip="copy" color="light" (click)="openSnackBar('Stock')">
              Stock No: P800366
            </button>
          </div>
          <div class="footer">
            <span><strong>$57,569</strong>+GST</span>
          </div>
        </mat-card-content>
      </mat-card>
    </swiper-slide>
    <swiper-slide>
      <mat-card appearance="outlined">
        <img mat-card-image src="images/car-two.jpg" alt="Photo of a Shiba Inu">
        <div class="ribbon">
          <span>Turbo charged - AWD</span>
        </div>
        <mat-card-content>
          <div class="header">
            <h1 class="title">2024 Acura</h1>
            <h3 class="subtitle">A-SpecTLX</h3>
            <span><strong>10</strong>Km.</span>
          </div>
          <div class="body">
            <button class="car-num-btn" type="button" mat-flat-button matTooltip="copy" color="light" (click)="openSnackBar('VIN')">
              VIN: 19UUB6F55RA800366
            </button>
            <button class="car-num-btn" type="button" mat-flat-button matTooltip="copy" color="light" (click)="openSnackBar('Stock')">
              Stock No: P800366
            </button>
          </div>
          <div class="footer">
            <span><strong>$57,569</strong>+GST</span>
          </div>
        </mat-card-content>
      </mat-card>
    </swiper-slide>
  </swiper-container>
</section>