@use "../../../../../public/scss/environments" as env;
@use "../../../../../public/scss/breakpoints" as brk;

section {
    width: var(--section-width, env.$section-width);
    margin: 0 auto;

    .section-title {
        --heading-font-weight: 400;
        --heading-1-font-size: 22px;
        --heading-margin-top: 42px;
    }
}
swiper-container {
    background: linear-gradient(0deg, rgba(5, 49, 81, 0.5) 10%, #f5f5f5 100%);
    padding: 10px 0;
    border-radius: 10px;
    overflow: hidden;
    --mdc-outlined-card-container-shape: 20px;
}
swiper-slide {
    display: block;
    width: 284px;
    padding: 8px 12px;
    --mdc-outlined-card-container-elevation: -1px 2px 4px 0px rgba(0, 0, 0, 0.2);

    .mat-mdc-card-content {
        padding: 10px;
    }

    .header {
        .title {
            --heading-1-font-size: 16px;
            --heading-margin-top: 0;
            --heading-margin-bottom: 0;
        }
        .subtitle {
            --heading-3-font-size: 12px;
            --heading-font-weight: 400;
            --heading-margin-top: 0;
            --heading-margin-bottom: 0;
            --heading-color: #0009;
        }
        span {
            display: block;
            margin-top: 6px;
            margin-bottom: 8px;
            font-size: 12px;

            strong {
                font-size: 16px;
                margin-right: 2px;
            }
        }
    }
    .footer {
        margin-top: 12px;
        font-size: 14px;

        strong {
            font-size: 20px;
            margin-right: 2px;
        }
    }
}
.car-num-btn {
    width: 100%;
    text-align: left;
    justify-content: flex-start;
    margin-bottom: 6px;
    white-space: nowrap;
    --mat-filled-button-horizontal-padding: 8px;
    --mdc-filled-button-container-height: 30px;
    --mdc-filled-button-label-text-tracking: 0;
    --mdc-filled-button-label-text-weight: 400;
}
.ribbon {
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 147.129px;
    height: 55px;
    clip-path: polygon(69.718px 37.353px, 0px 55px, 0px 0px, 139.435px 0px, 139.435px 0.323px, 147.129px 8px, 139.435px 8px, 139.435px 55px);
    background-color: #253085;
    color: #e4c656;
    font-size: 13px;
    font-weight: 600;
    padding-top: 12px;
    padding-left: 6px;
}
// --------------------------------
@include brk.mobile() {
    section {
        --section-width: 100%;
    }
    section .section-title {
        margin-left: 16px;
        --heading-1-font-size: 18px;
        --heading-margin-top: 125px;
    }
}