<header>
    <div class="profile-row">
        <img class="profile-image" tabindex="0" src="images/profile.webp">
        <h3 class="title">Mohammad's Virtual <br> Showroom</h3>
    </div>

    <div class="menu-container contact-btn-group">
        <ul>
            <li>
                <span class="phone-number" matTooltip="copy" cdkCopyToClipboard="1-403-971-8071" (click)="openSnackBar()">1-403-971-8071</span>
            </li>
            <li>
                <a mat-flat-button href="tel:14039718071" class="phone" matTooltip="1-403-971-8071">
                    <i class="icon-phone"></i>
                </a>
            </li>
            <li>
                <a mat-flat-button href="mailto:mohammad@nwacura.com" class="email" matTooltip="mohammad@nwacura.com">
                    <i class="icon-email-01"></i>
                </a>
            </li>
        </ul>
    </div>
</header>